{% extends 'base.html' %}
{% block start %}
    <h4>Welcome back  {{ user.username }}! Satisfy your cravings with your favorite dishes delivered fast and fresh.</h4>
<hr>
<div class="container">
    <form class="row justify-content-center my-3" method="get" action="{% url 'search_' %}">
    <div class="col-12 col-md-4">
        <input class="form-control mb-2" type="search" name="query" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-12 col-md-2">
        <button class="btn btn-outline-success w-100" type="submit">Search</button>
    </div>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" onclick="showDishes()">Dishes</button>
            </div>
            <div class="col">
                <button class="btn btn-primary" onclick="showRestaurants()">Restaurants</button>
            </div>
        </div>
        <div id="dishes" style="display: block;"><hr>
            <h4>Dishes</h4>
            {% if dishes %}
    <div class="row">
        {% for dish in dishes %}
        <div class="col-md-4 position-relative">
            <div class="card mb-4 shadow-lg">
                {% if dish.dish_img %}
                <img src="{{ dish.dish_img.url }}" class="card-img-top" alt="{{ dish.dish_name }}" style="max-height: 150px; object-fit: cover;">
                {% else %}
                <img src="path/to/default/image.jpg" class="card-img-top" alt="Default Image" style="max-height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ dish.dish_name }}</h5>
                    <p class="card-text">{{ dish.description }}</p>
                    <p class="card-text">Price: ${{ dish.price }}</p>
                    <p class="card-text">Discount: ${{ dish.discount }}</p>
                    <p class="card-text">Veg: {{ dish.veg }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form method="post" action="{% url 'order/add_to_cart' dish.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form><form method="post" action="/res/delete_dish/{{ dish.id }}">
                            {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{dish.rating}}
  </span>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
        No match found
    </div>
    {% endif %}
        </div>
<hr>
        <div id="restaurants" style="display: block;">
    <h4>Restaurants</h4>
    {% if restaurant %}
    <div class="row">
        {% for res in restaurant %}
        <div class="col-md-4 position-relative">
            <div class="card mb-4 shadow-lg">
                {% if res.rimg %}
                <img src="{{ res.rimg.url }}" class="card-img-top" alt="{{ res.name }}" style="max-height: 150px; object-fit: cover;">
                {% else %}
                <img src="path/to/default/image.jpg" class="card-img-top" alt="Default Image" style="max-height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <a ><h5 class="card-title">{{ res.name }}</h5></a>
                    <p class="card-text">{{ res.address }}</p>
                    <p class="card-text">Closing Time: ${{ res.closing_time }}</p>

                </div>
            </div>
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{res.rating}}
  </span>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
        No match found
    </div>
    {% endif %}
</div>
    </div>
<script>
        function showDishes() {
            document.getElementById("dishes").style.display = "block";
            document.getElementById("restaurants").style.display = "none";
        }

        function showRestaurants() {
            document.getElementById("dishes").style.display = "none";
            document.getElementById("restaurants").style.display = "block";
        }
    </script>
        {% endblock %}